
h1 {
    font-size: 4rem;
    font-family: 'Source Serif Pro', serif;
}

div {
    border: solid red 1px;
}

#main-container {
    display: flex;
    height: 90vh;
    width: 80vw;
    margin: auto;
    border: solid red 1px;
    flex-direction: column;
    font-family: 'Source Serif Pro', serif;
}

header {
    margin: 0 auto;
    border: solid red 1px;
    height: 20vh;
    width: 100%;
    text-align: center;
    background-color: navy;
    color: white;
    font-family: 'Source Serif Pro', serif;
}

form {
   
}